/* RESPONSIVE FOR SMALL DEVICE */
@media screen and (max-width: 576px) {
  header,
  section {
    max-width: 95vw;
  }
  #offer,
  #party,
  #address,
  #new-offer,
  #holiday-sale,
  #item-portfolio,
  #newsletter {
    max-width: 95vw;
    margin: 0 auto 70px auto;
  }

  /* header styles */
  #header-content {
    padding: 40px 0;
  }
  #header-content p {
    font-size: 20px;
  }
  #header-content h2 {
    font-size: 32px;
    line-height: 36px;
  }

  /* offer section styles */
  .offer-info h1 {
    font-size: 48px;
    margin-bottom: 10px;
  }
  .offer-info h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .offer-info p {
    font-size: 18px;
    margin-bottom: 24px;
  }
  .offer-info img {
    width: 90%;
  }

  /* welcome party section styles */
  .party-content {
    padding: 30px;
    flex-direction: column;
    gap: 30px;
  }
  .party-column-1 h1 {
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 5px;
  }
  .party-column-1 p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .party-column-2 {
    text-align: center;
  }
  .party-column-2 img {
    width: 60%;
  }

  /* address section styles */
  .address-content {
    padding: 30px 10px;
  }
  .address-content p {
    font-size: 16px;
    line-height: 30px;
  }
  .address-content button {
    font-size: 14px;
    padding: 12px 20px;
    margin-top: 10px;
  }

  /* new offer section styles */
  #new-offer {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .new-offer-content,
  .new-offer-wish {
    gap: 10px;
  }
  .new-offer-content h4 {
    font-size: 20px;
  }
  .new-offer-content h2,
  .new-offer-wish h2 {
    font-size: 36px;
  }
  .new-offer-content p,
  .new-offer-wish p {
    font-size: 16px;
    line-height: 20px;
  }
  .new-offer-image img {
    width: 70%;
  }

  /* holiday sale section styles */
  #holiday-sale {
    gap: 150px;
  }
  .sale-content h4 {
    font-size: 20px;
  }
  .sale-content h1 {
    font-size: 40px;
  }
  .sale-content p {
    font-size: 16px;
  }
  .sale-image {
    height: 100px;
  }
  .sale-image .sale-gift {
    left: 10px;
  }
  .sale-image .sale-discount {
    right: 10px;
  }

  /* items portfolio section styles */
  .portfolio h4 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  .portfolio h2 {
    font-size: 36px;
    margin-bottom: 18px;
  }
  .portfolio p {
    font-size: 16px;
    line-height: 20px;
  }
  .item-image {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  /* newsletter section styles */
  #newsletter {
    gap: 20px;
    padding: 30px 10px;
  }
  .newsletter-image img {
    width: 50%;
  }
  .newsletter-content h1 {
    font-size: 24px;
  }
  .newsletter-content p {
    font-size: 16px;
    line-height: 20px;
  }
  .newsletter-btn {
    width: 100%;
  }
  .newsletter-btn input[type="email"] {
    font-size: 14px;
    padding: 10px;
  }
  .newsletter-btn input[type="submit"] {
    width: fit-content;
    font-size: 14px;
    padding: 10px;
  }

  /* footer styles */
  .footer-row-1,
  .footer-row-2,
  .footer-row-3 {
    padding: 30px 10px;
    font-size: 16px;
  }
  .footer-row-1 {
    flex-direction: column;
    gap: 20px;
    padding-right: 0;
  }
  .footer-row-2 {
    font-size: 30px;
  }
  .footer-row-3 {
    flex-direction: column;
    gap: 10px;
  }
}
