@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 1440px;
  margin: 0 auto;
}

/* primary styles */
header,
section {
  max-width: 1320px;
  max-width: 0 auto;
}
#offer,
#party,
#address,
#new-offer,
#holiday-sale,
#item-portfolio,
#newsletter {
  margin: 0 auto 100px auto;
}

/* header styles */
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("assets/images/Banner Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  margin: 25px auto 50px auto;
}
#header-content {
  margin: 0 auto;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
#header-content p {
  font-family: Merriweather;
  font-size: 32px;
}
#header-content h2 {
  font-family: Merriweather;
  font-size: 72px;
  line-height: 95px;
}

/* offer section styles */
.offer-info {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.offer-info h1 {
  font-family: Inter;
  font-size: 88px;
  font-weight: bold;
  color: red;
  margin-bottom: 48px;
}
.offer-info h4 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
  color: red;
  margin-bottom: 16px;
}
.offer-info p {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 48px;
}
.offer-info img {
  width: 100%;
}

/* welcome party section styles */
#party {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("assets/images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.party-content {
  padding: 80px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.party-column-1 h1 {
  font-family: Merriweather;
  font-size: 64px;
  color: white;
  line-height: 88px;
  letter-spacing: 11px;
  margin-bottom: 24px;
}
.party-column-1 p {
  font-family: Inter;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  line-height: 30px;
  margin-bottom: 48px;
}
.party-column-1 a {
  font-family: Inter;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 32px;
  text-decoration: none;
}
.party-column-2 img {
  width: 100%;
}

/* address section styles */
#address {
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0)
  );
  border-radius: 16px;
}
.address-content {
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.address-content p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  color: black;
  text-align: center;
}
.address-content span {
  color: red;
}
.address-content button {
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  margin-top: 48px;
}

/* new offer section styles */
#new-offer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 100px;
}
.new-offer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.new-offer-content h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: red;
}
.new-offer-content h2 {
  font-family: Merriweather;
  font-size: 48px;
}
.new-offer-content p,
.new-offer-wish p {
  font-family: Inter;
  font-size: 20px;
  line-height: 26px;
  opacity: 0.6;
  text-align: justify;
}
.new-offer-image {
  text-align: center;
}
.new-offer-image img {
  width: 100%;
  padding: 15px;
  border: 10px solid red;
  border-radius: 50%;
}
.new-offer-wish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.new-offer-wish h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: bold;
  color: red;
}
.new-offer-wish img {
  width: 40%;
}

/* holiday sale section styles */
#holiday-sale {
  display: flex;
  flex-direction: column;
  gap: 400px;
}
.sale-content {
  max-width: 1060px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.sale-content h4 {
  font-family: Inter;
  font-size: 32px;
  font-weight: 500;
}
.sale-content h1 {
  font-family: Merriweather;
  font-size: 72px;
}
.sale-content span {
  color: red;
}
.sale-content p {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  opacity: 0.6;
}
.sale-image {
  width: 100%;
  height: 200px;
  background-color: red;
  border-radius: 16px 0 16px 16px;
  position: relative;
}
.sale-image .sale-gift {
  width: 50%;
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.sale-image .sale-discount {
  width: 30%;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

/* items portfolio section styles */
.portfolio {
  max-width: 800px;
  margin-bottom: 48px;
}
.portfolio h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: red;
  margin-bottom: 16px;
}
.portfolio h2 {
  font-family: Merriweather;
  font-size: 48px;
  margin-bottom: 22px;
}
.portfolio p {
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.6;
}
.item-image {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.item-image img {
  width: 100%;
}

/* newsletter section styles */
#newsletter {
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding: 80px 0;
}
.newsletter-image {
  text-align: center;
}
.newsletter-image img {
  width: 80%;
}
.newsletter-content {
  max-width: 850px;
  text-align: center;
}
.newsletter-content h1 {
  font-family: Merriweather;
  font-size: 48px;
  margin-bottom: 22px;
}
.newsletter-content p {
  font-family: Inter;
  font-size: 20px;
  opacity: 0.6;
  line-height: 32px;
}
.newsletter-btn {
  width: 80%;
  text-align: center;
}
.newsletter-btn input[type="email"] {
  width: 40%;
  font-family: Inter;
  font-size: 20px;
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
}
.newsletter-btn input[type="submit"] {
  width: 20%;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  color: white;
  padding: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  margin-left: -5px;
  cursor: pointer;
}

/* footer styles */
.footer-content {
  width: 1600px;
  height: 609px;
  margin: 0 auto;
  background-color: #070211;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
hr {
  width: 1320px;
  opacity: 0.5;
  margin: 0 auto;
}
.footer-row-1,
.footer-row-2,
.footer-row-3 {
  padding: 50px 140px;
}
.footer-row-1 {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}
.footer-row-2 {
  text-align: center;
  font-size: 80px;
}
.footer-row-2 a {
  margin: 0 10px;
}
.footer-row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* hide section */
.hide,
#hide {
  display: none;
}
