@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* primary styles */
section {
  margin: 0px auto 100px auto;
}

/* header styles */
header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("assets/images/Banner Image.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  height: 600px;
  width: 1320px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 632px;
  height: 246px;
}
#header-content p {
  font-family: Merriweather;
  font-size: 32px;
}
#header-content h2 {
  font-family: Merriweather;
  font-size: 72px;
  line-height: 95px;
}

/* offer section styles */
.offer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 803px;
  height: 806px;
  text-align: center;
}
.offer-info h1 {
  font-family: Inter;
  font-size: 88px;
  font-weight: bold;
  color: red;
  margin-bottom: 48px;
}
.offer-info h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: red;
  margin-bottom: 16px;
}
.offer-info p {
  font-family: Inter;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin-bottom: 48px;
}
.offer-info img {
  height: 500px;
  width: 803px;
}

/* welcome party section styles */
#party {
  height: 600px;
  width: 1320px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1),
      rgba(0, 0, 0, 0)
    ),
    url("assets/images/Vectorrr.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
}
.party-content {
  margin: 68px 120px;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.party-column-1 h1 {
  font-family: Merriweather;
  font-size: 64px;
  color: white;
  line-height: 88px;
  letter-spacing: 11px;
  margin-bottom: 24px;
  margin-right: 94px;
}
.party-column-1 p {
  font-family: Inter;
  font-size: 18px;
  color: white;
  opacity: 0.8;
  line-height: 30px;
  margin-bottom: 48px;
  margin-right: 38px;
}
.party-column-1 a {
  font-family: Inter;
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-left: 32px;
  text-decoration: none;
}
.party-column-2 img {
  height: 465px;
  width: 320px;
}

/* address section styles */
#address {
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0)
  );
  height: 482px;
  width: 1320px;
  border-radius: 16px;
}
.address-content {
  height: 482px;
  width: 1320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.address-content p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  color: black;
  text-align: center;
}
.address-content span {
  color: red;
}
.address-content button {
  font-family: Inter;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: red;
  border: none;
  border-radius: 8px;
  padding: 16px 32px;
  margin-top: 48px;
}

/* new offer section styles */
#new-offer {
  height: 463px;
  width: 1320px;
  display: flex;
  align-items: center;
}
.new-offer-content {
  width: 393px;
  height: 255px;
}
.new-offer-content h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: red;
  margin-bottom: 16px;
}
.new-offer-content h2 {
  font-family: Merriweather;
  font-size: 48px;
  line-height: 32px;
  margin-bottom: 22px;
}
.new-offer-content p {
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.6;
  text-align: justify;
  margin-bottom: 22px;
}
.new-offer-image {
  /* margin: 0 auto; */
  height: 450px;
  width: 450px;
  text-align: center;
  margin: 0 auto;
}
.new-offer-image img {
  text-align: center;
  width: 350px;
  height: 350px;
  padding: 15px;
  border: 10px solid red;
  border-radius: 50%;
}
.new-offer-wish {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.wish-row-1 {
  width: 350px;
  padding-left: 50px;
}
.wish-row-1 h2 {
  font-family: Inter;
  font-size: 48px;
  font-weight: bold;
  color: red;
}
.wish-row-1 p {
  font-family: Inter;
  font-size: 20px;
  opacity: 0.6;
}
.wish-row-2 {
  width: 350px;
  padding-left: 50px;
}
.wish-row-2 img {
  width: 140px;
  height: 140px;
}

/* holiday sale section styles */
#holiday-sale {
  width: 1320px;
  height: 986px;
  background-image: url("assets/images/Rectangle 2.png");
  background-position: bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sale-content {
  height: 266px;
  width: 1068px;
  margin: 0 auto;
  text-align: center;
}
.sale-content h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-top: 0;
}
.sale-content h1 {
  font-family: Merriweather;
  font-size: 72px;
  margin-top: 16px;
}
.sale-content span {
  color: red;
}
.sale-content p {
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  margin-top: 28px;
  opacity: 0.6;
}
.sale-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.sale-image .sale-gift {
  width: 675px;
  height: 578px;
}
.sale-image .sale-discount {
  position: absolute;
  bottom: 300px;
  right: 50px;
}

/* items portfolio section styles */
#item-portfolio {
  height: 1163px;
  width: 1320px;
}
.portfolio {
  text-align: left;
  height: 191px;
  width: 896px;
  margin-bottom: 48px;
}
.portfolio h4 {
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  color: red;
  margin-bottom: 16px;
  margin-top: 0;
}
.portfolio h2 {
  font-family: Merriweather;
  font-size: 48px;
  margin-top: 0;
  margin-bottom: 22px;
}
.portfolio p {
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
  opacity: 0.6;
}
.item-image {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}
.item-image img {
  width: 424px;
  height: 450px;
}

/* newsletter section styles */
#newsletter {
  width: 1320px;
  height: 616px;
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.newsletter-image {
  width: 150px;
  height: 150px;
}
.newsletter-content {
  width: 896px;
  text-align: center;
}
.newsletter-content h1 {
  font-family: Merriweather;
  font-size: 48px;
  margin-bottom: 22px;
}
.newsletter-content p {
  font-family: Inter;
  font-size: 20px;
  opacity: 0.6;
  line-height: 32px;
}
.newsletter-btn input[type="email"] {
  width: 438px;
  height: 72px;
  font-family: Inter;
  font-size: 18px;
  padding-left: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border: none;
}
.newsletter-btn input[type="submit"] {
  width: 210px;
  height: 72px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  background-color: red;
  color: white;
  padding-left: 20px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
  margin-left: -5px;
  cursor: pointer;
}

/* footer styles */
.footer-content {
  width: 1600px;
  height: 609px;
  margin: 0 auto;
  background-color: #070211;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}
hr {
  width: 1320px;
  opacity: 0.5;
  margin: 0 auto;
}
.footer-row-1,
.footer-row-2,
.footer-row-3 {
  padding: 50px 140px;
}
.footer-row-1 {
  display: flex;
  justify-content: space-between;
  padding-right: 200px;
}
.footer-row-2 {
  text-align: center;
  font-size: 80px;
}
.footer-row-2 a {
  margin: 0 10px;
}
.footer-row-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
